html {
  font-size: 14px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

a {
  color: #5196a6;
  text-decoration: none !important;
}

a:hover {
  color: #407784;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #f8f9fa;
}

.moattravel-wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.moattravel-navbar {
  height: 60px;
}

.moattravel-logo {
  height: 30px;
}

.moattravel-btn {
  background-color: #5196a6 !important;
  transition: 0.3s;
}

.moattravel-btn:hover {
  background-color: #407784 !important;
}

.moattravel-container {
  max-width: 1080px;
}